In [1]:
lst1=[1,'a',"shagufta",[1,2,3]]   #list

In [2]:
lst1

[1, 'a', 'shagufta', [1, 2, 3]]

In [3]:
lst1.append(1.23)    #Append function

In [4]:
lst1

[1, 'a', 'shagufta', [1, 2, 3], 1.23]

In [5]:
lst1.index('a')     #index function

1

In [6]:
lst1.count(1)     #count function

1

In [7]:
lst1.reverse()    #list reverse function

In [8]:
lst1

[1.23, [1, 2, 3], 'shagufta', 'a', 1]

In [10]:
lst1.remove('a')   #remove function

In [11]:
lst1

[1.23, [1, 2, 3], 'shagufta', 1]

In [ ]:
##Dictionary and its defaut functions

In [14]:
dict={'name':'zara','age':15,'class':10}

In [15]:
dict

{'name': 'zara', 'age': 15, 'class': 10}

In [16]:
len(dict)    #len function

3

In [17]:
str(dict)  #printable string representation of a dictionary

"{'name': 'zara', 'age': 15, 'class': 10}"

In [18]:
dict.keys()  #Dictionary  keys

dict_keys(['name', 'age', 'class'])

In [19]:
dict.values()  #dictionary values

dict_values(['zara', 15, 10])

In [20]:
dict2={'phone':122456}

In [21]:
dict.update(dict2)   #Dictionary Updation

In [22]:
dict

{'name': 'zara', 'age': 15, 'class': 10, 'phone': 122456}

In [23]:
st={1,1,1,3,4,"zara"}

In [24]:
st

{1, 3, 4, 'zara'}

In [25]:
st.add(5)    #add function

In [26]:
st

{1, 3, 4, 5, 'zara'}

In [27]:
st.remove(1)   #remove function

In [28]:
st

{3, 4, 5, 'zara'}

In [29]:
st1={8,9,10,2}

In [30]:
st.union(st1)   #union

{10, 2, 3, 4, 5, 8, 9, 'zara'}

In [32]:
st.intersection(st1)  #intersection

set()

In [33]:
st

{3, 4, 5, 'zara'}

In [34]:
st.difference(st1)  #difference

{3, 4, 5, 'zara'}

In [35]:
st

{3, 4, 5, 'zara'}

In [36]:
tp=(1,2,3)

In [37]:
tp

(1, 2, 3)

In [39]:
tp.count(1)   #count

1

In [40]:
tp.index(2)   #index

1

In [41]:
1 in tp      #in

True

In [43]:
tp[0:2]     #slicing

(1, 2)

In [46]:
tp[0:-1]

[]

[-1]

In [47]:
str="hello world"

In [48]:
str

'hello world'

In [51]:
str.capitalize()   #capitalize

'Hello world'

In [57]:
sub="wow"

In [58]:
str.count(sub)     #count

0

In [59]:
str.isalnum()     # is all numeric

False

In [60]:
str.join(sub)      #join

'whello worldohello worldw'

In [63]:
len(str)           #length

11